<?xml version="1.0" ?>
<robot name="pairbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!--<xarco:include filename="$(find zed_sim_package)/urdf/zed_sim.gazebo.xacro"/>-->
  <link name="zed_sim">
      <pose> 0 0 0 0 0 0 </pose>
      <inertial>
        <mass>0.159</mass>
      </inertial>
      <collision name="collision">
        <geometry>
	  <box>
	    <size> 0.03 0.175 0.033 </size> 
	  </box>
	</geometry>
      </collision>
      <visual name="visual">
        <pose>-0.02 -0.0875 -0.0125 1.5707963  0 1.5707963 </pose>
        <geometry>
          <mesh>
            <uri>package://zed_sim_package/mesh/zed_body.stl</uri>
            <scale> 0.001 0.001 0.001</scale>
	  </mesh>
        </geometry>
      </visual>

  </link>

</robot>

